.main {
  display: inline-flex;
  flex-direction: column;
  padding: 42px;
  gap: 32px;
  width: 100%;
  box-sizing: border-box;
}

.content {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #15302f;
  z-index: 10;
}

.button_wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  z-index: 10;
}

.waves {
  position: absolute;
  transform: rotate(90deg);
  height: 100vh;
  bottom: -35vh;
  right: 10vh;
  z-index: 0;
}

@media (min-width: 850px) {
  .main {
    padding: 80px;
    overflow: visible;
    position: unset;
    max-width: 500px;
  }
  .waves {
    transform: rotate(0deg);
    left: unset;
    right: 0vw;
    top: 0;
    height: 100vh;
  }
}
